<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <title>{.meta-left}status{.meta-right} {.meta-left}statusString{.meta-right}</title>
        <link rel="stylesheet" media="screen" href="/screen.css" type="text/css" />
        <meta name="description" content="{.meta-left}statusString{.meta-right}" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        {content}
        <footer>
            <p>Copyright &copy; 2009 <a href="http://gmosx.com" target="blank">George Moschovitis</a>.</p>
        </footer>
    </body>
</html>    
